<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>研究背景</title>
	
	</head>
	<body>
		<div id="map">研究背景</div>
	</body>

</html>