<div id="footer">CopyRight@copy2018 -By the seventh group</div>
<!-- <script type="text/javascript" src="javascripts/LeafletMap.js" ></script> -->
<script type="text/javascript" src="javascripts/MyLeaflet.js" ></script>
</body> 
</html> 