<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Bootstrap-->
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"/>
		
		<!-- Load Leaflet -->
		<link rel="stylesheet" type="text/css" href="stylesheets/leafletAPI.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/leaflet.css"/>
		<script type="text/javascript" src="javascripts/leaflet.js"></script>
		<script type="text/javascript" src="javascripts/leaflet.ChineseTmsProviders.js"></script>
		
		<!--Leaflet Search Src-->
		<link rel="stylesheet" type="text/css" href="stylesheets/leaflet-search.min.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/leaflet-search.mobile.min.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/leaflet-search.mobile.src.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/leaflet-search.src.css"/>
		
		<script type="text/javascript" src="javascripts/leaflet-search.min.js"></script>
		<script type="text/javascript" src="javascripts/leaflet-search.src.js"></script>
		
		<!--Echarts -->
		<script type="text/javascript" src="javascripts/echarts.min.js"></script>
		
		<!--jQuery  样式-->
		<script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
		
		<!--saidbar_menu-->
		<link rel="stylesheet" type="text/css" href="stylesheets/sidebar-menu.css"/>
		<script type="text/javascript" src="javascripts/sidebar-menu.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		
		<!--Link StyleSheet(hand setting)-->
		<link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
		<script type="text/javascript" src="/javascripts/leaflet-side-by-side.js"></script>


		<title>
			湖泊管理系统
		</title>
		
		
	</head>
	<body>

