<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>研究区简介</title>
<!-- 	<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/> -->
		<style>
			.FTH_Introduction
			{
				position: absolute;
				top: 0px;
				bottom: 0;
				right: 0;
				left: 20px;
				background-color: white;
			}
			
			.FTH_Introduction img{
				margin-top: 0px;
				margin-left: 0px;
			}
			.FTH_Introduction div{
				margin-top: 0px;
				margin-right:10px;
				width: 340px;
				float: right;
				font-size: 18px;
				font-family: "STFangsong";
			}
			
			.FTH_Introduction h1{
				margin-top:20px ;
				text-align: center;
				font-family: "LiSu";
			}
		</style>
	</head>
	
	<body style = "background-color: white;">

	<div class="FTH_Introduction">
	<h1>湖泊简介</h1>
	<img src="images/TFH15.jpg">
	<div>
		<p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湖北省第四大湖，161平方公里。位于嘉鱼、江夏、咸安三县区交界处。曾获选为“湖北十大最美湖泊”。但多年以来，斧头湖受投肥养殖、入湖工业、农业和生活污染影响，破坏了湖泊生态系统平衡，水生态环境呈恶化趋势。此外，斧头湖区堤防基础差、堤身单薄，湖区围垸淤积严重、围网围栏养殖普遍等问题，影响行洪安全，也直接导致湖泊生态系统结构与功能发生改变，湖泊系统不断退化。 通过采取划定保护线的方式来推进斧头湖水环境质量改善工作，保护斧头湖流域生态环境。 本系统为咸安区斧头湖保护线勘界立桩展示系统，主要展示确定保护线的分析过程。
		</p>
	</div>
</div>

	</body>

</html>