<%- include header %>
<%- include navbar %>
<!--Login\\Register-->
<link rel="stylesheet" href="stylesheets/LogRes.css">
<script type="text/javascript" src="javascripts/LogRes.js"></script>
<script type="text/javascript" src="javascripts/jquery.carouFredSel-6.0.4-packed.js" ></script>
<div id="wrapper_Pic">
				<div class="carousel">
					<div><img src="images/FTH01.jpg" width="700" height="420" border="0" /></div>
					<div><img src="images/FTH02.jpg" width="700" height="420" border="0" /></div>
					<div><img src="images/FTH03.jpg" width="700" height="420" border="0" /></div>
					
				</div>
			</div>
			
			<div id="wrapper" class="login-page" >
	
				<div id="login_form" class="form" >

					<form class="login-form" role="form" method="post">
						<input type="text" placeholder="用户名" id="username" name="username" required>
						<input type="password" placeholder="密码" id="password" name="password" required/>
						<button type="submit">登　录</button>
						<p class="message">还没有账户?
							<a href="/reg">立刻创建</a>
						</p>
					</form>
	
				</div>
			</div>

<%- include footer %>