<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
	<script type="text/javascript" src="javascripts/echarts.min.js"></script>
	<!--jQuery  样式-->
	<script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

</head>
<body >
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="map" ></div>

	<script type="text/javascript" src="javascripts/MyEcharts.js"></script>
</body>
</html>