<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
	<script type="text/javascript" src="javascripts/echarts.min.js"></script>
	<!--jQuery  样式-->
	<script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>


</head>
<body >
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <!-- <div id="map" ></div> -->
	<select id="select"> 
	<option value="1998">1998年</option> 
	<option value="2012">2012年</option> 
	<option value="2016">2016年</option> 
	<option value="2017">2017年</option> 
	<option value="2018">2018年</option> 
	</select> 
	<!-- <div id="home" style="width: 600px; height: 400px"> -->
	<div id="home" style="width: 700px; height: 400px; 	position: absolute;
	top: 15px;
	bottom: 0;
	right: 0;
	left: 200px;">
	</div>
	<script type="text/javascript" src="javascripts/PrecipitationEcharts.js"></script>
</body>
</html>