<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu">
			<li class="treeview">
				<a href="#">
					<i class="fa fa-edit"></i> <span>项目简介</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="/introduce" class="ajax"><i class="fa fa-circle-o"></i> 斧头湖简介</a>
					</li>
					<li>
						<a href="/location" class="ajax"><i class="fa fa-circle-o"></i> 地理位置</a>
					</li>

				</ul>
			</li>

			<li class="treeview">
				<a href="/">
					<i class="fa fa-files-o"></i>
					<span>基础数据</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu" style="display: none;">
					<li>
						<a href="/ndvi1998" class="ajax"><i class="fa fa-circle-o"></i>1998年ndwi</a>
					</li>
					<li>
						<a href="/ndvi2016" class="ajax"><i class="fa fa-circle-o"></i>2016年ndwi</a>
					</li>
					<li>
						<a href="/contourline21" class="ajax"><i class="fa fa-circle-o"></i>21米等高线</a>
					</li>
					<li>
						<a href="/contourline22" class="ajax"><i class="fa fa-circle-o"></i>22米等高线</a>
					</li>
					<li>
						<a href="/contourline23" class="ajax"><i class="fa fa-circle-o"></i>23米等高线</a>
					</li>
					<li>
						<a href="/contourline24" class="ajax"><i class="fa fa-circle-o"></i>24米等高线</a>
					</li>
					<li>
						<a href="/dem" class="ajax"><i class="fa fa-circle-o"></i>DEM</a>
					</li>
				</ul>
			</li>

			<li class="treeview">
				<a href="#">
					<i class="fa fa-pie-chart"></i>
					<span>水域范围变化</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a  href="/PrecipitationEcharts_yearcomparison" class="ajax" ><i class="fa fa-circle-o"></i> 降水数据</a>
					</li>
				</ul>
			</li>

			<li class="treeview">
				<a href="#">
					<i class="fa fa-table"></i> <span>勘界立桩</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="/vector" class = "ajax"><i class="fa fa-circle-o"></i> 桩点数据</a>
					</li>
					<li>
						<a href="/users" ><i class="fa fa-circle-o"></i>桩点信息管理</a>
					</li>
				</ul>
			</li>

		</ul>
	</section>
</aside>
<script>
	$.sidebarMenu($('.sidebar-menu'))
</script>