<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu">
			<li class="treeview">
				<a href="#">
					<i class="fa fa-edit"></i> <span>项目简介</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="/introduce" class="ajax"><i class="fa fa-circle-o"></i> 研究区简介</a>
					</li>
					<li>
						<a href="/background" class="ajax"><i class="fa fa-circle-o"></i> 研究背景</a>
					</li>
					<li>
						<a href="/goal" class="ajax"><i class="fa fa-circle-o"></i> 项目预期目标</a>
					</li>
				</ul>
			</li>

			<li class="treeview">
				<a href="#">
					<i class="fa fa-files-o"></i>
					<span>多图层显示</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu" style="display: none;">
					<li>
						<a href="/vector" class="ajax"><i class="fa fa-circle-o"></i> 矢量图层</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-circle-o"></i> 栅格图层</a>
					</li>
				</ul>
			</li>

			<li class="treeview">
				<a href="#">
					<i class="fa fa-laptop"></i>
					<span>水量表</span>
				</a>

			</li>

			<li class="treeview">
				<a href="#">
					<i class="fa fa-dashboard"></i> <span>水位线</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="#"><i class="fa fa-circle-o"></i> 水位线 v1</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-circle-o"></i> 水位线 v2</a>
					</li>
				</ul>
			</li>

			<li>
				<a href="#">
					<i class="fa fa-th"></i> <span>GPS点</span>
				</a>
			</li>

			<li class="treeview">
				<a href="#">
					<i class="fa fa-pie-chart"></i>
					<span>统计图显示</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="#"><i class="fa fa-circle-o"></i> 柱状图</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-circle-o"></i> 折线图</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-circle-o"></i> 饼图</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-circle-o"></i> 综合图表</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-circle-o"></i> 统计图01</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-circle-o"></i> 统计图02</a>
					</li>
				</ul>
			</li>

			<li class="treeview">
				<a href="#">
					<i class="fa fa-table"></i> <span>表格数据</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="#"><i class="fa fa-circle-o"></i> 桩点数据</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-circle-o"></i> 其它数据</a>
					</li>
				</ul>
			</li>

		</ul>
	</section>
</aside>
<script>
	$.sidebarMenu($('.sidebar-menu'))
</script>