<%- include header %>
<%- include navbar %>		
<div class="container">
        <form class="form-horizontal" role="form" method="post">
          <div class="form-group">
              <div class="input-group input-group-lg  col-xs-4 col-xs-offset-4">
                    <span class="input-group-addon">桩点</span>
                    <input type="text" class="form-control" id="id" name="id" placeholder="请输入桩点ID" required>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group input-group-lg  col-xs-4 col-xs-offset-4">
                    <span class="input-group-addon">经度</span>
                    <input type="text" class="form-control" id="longitude" name="longitude" placeholder="请输入经度" required>
              </div>
          </div>     
          <div class="form-group">
              <div class="input-group input-group-lg  col-xs-4 col-xs-offset-4">
                    <span class="input-group-addon">纬度</span>
                    <input type="text" class="form-control" id="latitude" name="latitude" placeholder="请确认纬度" required>
              </div>
          </div> 
          <div class="form-group">
            <div class="input-group input-group-lg col-xs-4 col-xs-offset-4">
                    <span class="input-group-addon">位置</span>
                    <input type="text" class="form-control" id="location" name="location" placeholder="请输入位置">
            </div>
          </div>      

          <div class="form-group">
            <div class="col-xs-offset-5">
              <button type="submit" class="btn btn-info  btn-lg">提交</button>
              <button type="reset" class="btn btn-warning  btn-lg">重置</button>
            </div>
          </div>
        </form>
    </div>
<%- include footer %>